{% extends 'registration/base.html' %}
{% load static %}

{% block header %}{% endblock %}
{% block contents %}
  <form method="POST" action="{% url 'create_account' %}">
    {% csrf_token %}
    <label>ユーザーID</label>
    <div>{{ form.username }}{{ form.username.errors }}</div>
    <label>パスワード</label>
    <div>{{ form.password1 }}{{ form.password1.errors }}</div>
    <label>パスワード(確認)</label>
    <div>{{ form.password2 }}{{ form.password2.errors }}</div>
    <label>生年月日</label>
    <div>{{ form.birthday }}{{ form.birthday.errors }}</div>
    <label>国籍</label>
    <div>{{ form.country }}{{ form.country.errors }}</div>
    <label>性別</label>
    <div>{{ form.gender }}{{ form.gender.errors }}</div>
  
    <button type = "submit">登録</button>
  </form>
{% endblock %}

<!-- https://www.techpit.jp/courses/65/curriculums/68/sections/551/parts/1898 -->