{% extends 'registration/base.html' %}
{% load static %}

{% block header %}{% endblock %}
{% block contents %}
<form action="" method="POST">
    {% csrf_token %}
    <table class="tabel">
        <label>ユーザーID</label>
        <div>{{ form.user }}{{ form.user.errors }}</div>
        <label>夢：目標の達成日</label>
        <div>{{ form.limit }}{{ form.limit.errors }}</div>
        <label>夢：目標の名前</label>
        <div>{{ form.title }}{{ form.title.errors }}</div>
        <label>夢：目標の説明</label>
        <div>{{ form.text }}{{ form.text.errors }}</div>
        <label>完了/未完了</label>
        <div>{{ form.check }}{{ form.check.errors }}</div>
    </table>
    <button type="submit" class="btn btn-primary">送信</button>
</form>
{% endblock %}