{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block header %}{% endblock %}
{% block section %}
<section class="js-parallax u-promo-block u-promo-block--mheight-500 u-overlay u-overlay--dark text-white" style="background-image: url(../../static/assets/img-temp/1920x1080/2.png);">
  <div class="container u-overlay__inner u-ver-center u-content-space">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <h1 class="display-sm-4 display-lg-3">プロジェクト名</h1>
          <p class="h6 text-uppercase u-letter-spacing-sm mb-0">テストテスト</p>
        </div>
      </div>
    </div>
  </div>
</section>{% endblock %}

{% block contents %}
<section class="bg-light u-content-space">
  <div class="container">
    <!-- Feature Blocks -->
    <div class="row">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="display-4 text-primary mb-2">
          <i class="fab fa-grav"></i>
        </div>
        <a h4 class="h5" href="https://www.mhlw.go.jp/toukei/saikin/hw/life/life21/index.html">日本の平均寿命</h4>
        <p></p>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="display-4 text-primary mb-2">
          <i class="fab fa-connectdevelop"></i>
        </div>
        <a h4 class="h5" href="https://www.bing.com/search?q=%E4%BA%BA%E7%94%9F%E8%A8%AD%E8%A8%88&qs=n&form=QBRE&msbsrank=10_11__0&sp=-1&pq=%E4%BA%BA%E7%94%9F%E8%A8%AD%E8%A8%88&sc=11-4&sk=&cvid=209D07485D394D738F569544160AAC05&ghsh=0&ghacc=0&ghpl=">目標・人生設計のアシスト</h4>
        <p></p>
      </div>

      <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="display-4 text-primary mb-2">
          <i class="fas fa-cubes"></i>
        </div>
        <a h4 class="h5" href="">このサイトを作った理由</h4>
        <p>アカウントの編集をします</p>
      </div>
    </div>
  </div>
</section>{% endblock %}