{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block header %}{% endblock %}
{% block section %}
<section class="js-parallax u-promo-block u-promo-block--mheight-500 u-overlay u-overlay--dark text-white" style="background-image: url(../../static/assets/img-temp/1920x1080/img6.jpg);">
  <div class="container u-overlay__inner u-ver-center u-content-space">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
        </div>
      </div>
    </div>
  </div>
</section>{% endblock %}
{% block contents %}{% endblock %}